.taskDetails-container {
  background: #444;
  margin: 14px 0;
  padding: 14px 21px;
  display: flex;
  flex-direction: column;
  color: #eee;
  border-radius: 3px;
}
.taskDetails-container h2 {
  margin-bottom: 3px;
  color: cyan;
  text-transform: capitalize;
}
.backButton-container {
  width: 30%;
  margin-top: 10px;
}
